html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden; /* hide scrollbars */
}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* landscape viewport -> fit width */
@media (min-aspect-ratio: 1/1) {
  canvas {
    width: 100% !important;
    height: auto !important;
  }
}

/* portrait viewport -> fit height */
@media (max-aspect-ratio: 1/1) {
  canvas {
    height: 100% !important;
    width: auto !important;
  }
}
